<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="compte">
  <ion-item>
    <ion-img [src]="image"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" value={{compte.nom}} disabled="true">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prenom</ion-label>
    <ion-input type="text" value={{compte.prenom}} disabled="true">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" value={{compte.email}} disabled="true">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tel</ion-label>
    <ion-input type="Tel" value={{compte.tel}} disabled="true">
    </ion-input>
  </ion-item>
  <ion-button expand="block" fill="outline">Modifier</ion-button>
</ion-content>
